<section id="section-lead-gen" class="margin-top-large">
    <div class="section-box section-box-shadow bg-color-1">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h3>{{self.title}}</h3>
            </div>
            <div class="col-lg-6 contact-form height-fit-content">
                <h5>{{self.subtitle}}</h5>
                <form action="{{self.form_action}}" class="form-connect">
                    <div class="row form-group">
                        <div class="col-12">
                            <input type="email" id="lead_gen_email" name="_replyto" class="form-control no-outline" placeholder="{{self.placeholder_text}}" required="" />
                        </div>
                    </div>
                    <div class="readmore-card translate-right bg-color-2 invert-color1">
                        <input type="submit" value="{{self.btn_text}}" class="btn btn-form" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
