<!-- Classic Site Sub-Hero -->

<section class="sub-hero margin-bottom-small">
    <div class="container v-padding-small h-padding-small bg-color-{{self.bg_color}}">
        <div class="row">
            <div class="col section-title text-center">
                <h2>{{self.title}}</h2>
                {% if self.paragraph %}
                <p>{{self.paragraph}}</p>
                {% endif %}
            </div>
        </div>
        {% if self.services_container %}
        <div class="row mt-5">
            {% for card in self.services_container %}

            <div class="col">
                <div class="card card-no-bg">
                    <div class="card-icon">
                        <h2><i class="{{card.value.icon}}"></i></h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-text text-center">{{card.value.title}}</h5>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
